* {
    box-sizing: border-box;
  }
  
  .App {
    text-align: center;
  }

  body {
    font-family: sans-serif;
    margin: 8px;
    /* margin: 20px; */
    padding: 0;
    height: 100%;
  }
  
  h1 {
    /* margin-top: 0; */
    font-size: 22px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  h4 {
    margin-top: 0;
    font-size: 16px;
  }
  
  h5 {
    margin-top: 0;
    font-size: 14px;
  }
  
  h6 {
    margin-top: 0;
    font-size: 12px;
  }
  
  code {
    font-size: 1.2em;
  }
  
  ul {
    padding-left: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
    background: cornflowerblue;
  }
  
  
   .cardTileBtn{
    background: rgb(111, 172, 247);
    border: 1px solid rgb(68, 68, 68);
    line-height: 20px;
    margin: 0.5em;
    border-radius: 13px;
    box-shadow: blue 1px 1px 5px 0px inset;
    cursor: pointer;
    color: rgb(1, 52, 52);
    text-shadow: whitesmoke -1px 0px 1px;
    display: flex;
    place-content: flex-end space-evenly;
    align-items: stretch;
    min-width: 15em;
    flex-direction: column;
    padding: 0.555em;
  }

  
  /* mobile styles here ----------------------------------------- */
  @media only screen and (min-width: 350px) {
    .cardTileBtn{ min-width: 15em; flex: 1 1 0; }
  }
  @media only screen and (max-width: 350px) {
    .cardTileBtn{ width:10vw; height:10vw}
  }
  /*tablet styles here*/
  @media only screen and (min-width: 550px) {
    .cardTileBtn{ width:18vw; height:18vw}
  }
  /*desktop styles here*/
  @media only screen and (min-width: 800px) {
    .cardTileBtn{ width:20vw; height:20vw }  
  }
  /*desktop styles here*/
  @media only screen and (min-width: 1500px) {
    .cardTileBtn{ width:18vw; height:18vw }  
  }

  .selectedAppHalo {
    border: 1px solid green;
    border-radius: 100%;
    padding: 0.222em;
    box-shadow: inset 1px 1px 10px 0px #209320;    
  }

  .plainTXT{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1em 0;
    padding: 1em 0;
    text-align: left;
    padding-left: 10%; 
    margin-top: 1em;
    margin-bottom: 1em;
    white-space: pre-line;
  }

  .txtBox1{
    /* border: solid 1px steelblue; */
    /* border-radius: 20px; */
    font-family: monospace;
    margin: 1em 2%;
    padding: 1em 0;
    /* box-shadow: 0px 6px 10px 0px #1c2296;    */
    text-align: left;
    padding-left: 10%; 
    margin-top: 1em;
    margin-bottom: 1em;
    white-space: pre-line;
  }

  .txtBox2{
    font-size: 1em;
    margin: 0.222em 4%;
    /* padding: 1 1em 1 8%; */
    color: #2b766d;
    border: solid 1px #2b766d;
    border-radius: 22px;
    /* box-shadow: inset 0px -1px 5px 0px #1c2296; */
    text-align: left;
    padding: 1.444em;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1em;
    white-space: pre-line;
  }
  .txtBox3{
    font-size: 1em;
    margin: 0.222em 4%;
    /* padding: 1 1em 1 8%; */
    color: #4962b3;
    /* border: solid 1px steelblue; */
    border-radius: 22px;
    box-shadow: inset 1px -1px 6px 0px #8084d4;
    text-align: left;
    padding: 1.444em;
    /* font-style: italic; */
    margin-top: 1em;
    margin-bottom: 1em;
    white-space: pre-line;
  }



                  /* {

                <article className={(item.type==='prime_card_token')?'txtBoxQuote':'itemTXTZ'} 
                //     style={
                //     (item.type==='quotez')
                //     ?{fontSize:'1.444em',fontFamily:'serif',color:'#498663'
                //     ,fontStyle:'italic'}
                //     :(item.type==='seriez')
                //     ?{fontSize:'0.888em',fontFamily:'monospace'}
                //     :{fontSize:'1em'}
                //   }
                  >


                    (item.type==='seriez_txt' && item.txtz.length)
                    ? item.txtz.map( (txtitem,idx)=>{
                        console.log('TESTCC',txtitem.type)
                        return <section className='seriezItem' style={
                            (txtitem.txt.split(" ").filter( skipitem => skipitem )[0]==='-') //special_hyphen
                            ?{textAlign:'justify',margin:'0em',color:'#5279f5',fontStyle:'italic'}
                            :{textAlign:'justify',margin:'1.444em 0em',color:'#8461cc'}
                        }>{txtitem.txt}</section>;
                      })
                    :  (item.txtz.length) //default txtbox
                    ? item.txtz.map( (txtitem,idx)=>{
                        console.log('TESTBC',txtitem.type)
                        return <section className='txtzItem' style={
                            (txtitem.txt.split(" ").filter( skipitem => skipitem )[0]==='-') //special_hyphen
                            ?{margin:'0em',color:'#50718c',fontStyle:'italic'
                            ,padding:'0.444em 0 0.444em 0.444em'}
                            :{margin:'1.444em 0em'}
                        }>{txtitem.txt}</section>;
                    } )
                    : item.txt }  */


 /* PC */
  .App{min-height:96vh;}
  .AppMain{margin: 0.222em 2.222em 0.222em 2.222em;}
  .appTitle{ margin: 0 0 0.888em 0;}
  .pageTitle{font-size:1.555em; margin: 0 1em;}
  .mainBorder{ padding: 5% 10%; margin-top:1em;}
  .mainframe{ padding: 1em;}
  .cardMain{padding: 2em;display:flex;align-items:center;}
  .iconNav{font-size:1em;cursor:pointer;user-select:none;margin-top:0.888em}
  .pageHeader{padding:0 3em;}
  .itemTXTZ{padding:0 6em;}
  .seriezItem{font-size:1.444em;}
  .txtzItem{font-size:1.222em;}
  .scrollBarPage{padding:0 6%;}
  /* Generic Mobile styles here*/
  @media only screen and (max-width: 800px) { /* TABLET */
    body{ margin:8px; background-color: #04223c;}
    .App{padding:2px;}
    .AppMain{margin: 0.222em 1.222em 0.222em 1.222em;}
    .appTitle{margin:0.888em 0 0 0}    
    .pageTitle{font-size:1.888em}
    .mainBorder{ padding: 4% 8% }
    .mainframe{ padding: 0.888em;}
    .cardMain{padding: 1em;}
    .iconNav{margin-top:0.333em}
    .pageHeader{padding:0 2em;}
    .itemTXTZ{padding:0 4em;}
    .scrollBarPage{padding:0 4%;}
    .seriezItem{font-size:1.2em;}
    .txzItem{font-size:1.111em;}
    .txtBox1{margin:0.111em 2%;}
    .txtBox2{margin:0.111em 2%;}
    .txtBox3{margin:0.111em 2%;}
  }  
  @media only screen and (max-width: 500px) { /* PHONE */
    body{ margin:4px;  background-color: #07589f;}
    .App{padding:0;}
    .AppMain{margin: 0.222em 0.444em 0.222em 0.444em;}
    .appTitle{margin:0.666em 0 0 0}  
    .pageTitle{font-size:0.888em}
    .mainBorder{ padding: 2% 3% }
    .mainframe{ padding: 0.444em;max-width: 100%;}
    .cardMain{padding: 0.444em;}
    .iconNav{margin-top:0.111em}    
    .pageHeader{padding:0 1em;}
    .itemTXTZ{padding:0 3em;}
    .scrollBarPage{padding:0 3%;}
    .seriezItem{font-size:1em;}
    .txtzItem{font-size:1em;}
    .txtBox1{margin:0 1%;}
    .txtBox2{margin:0 1%;}
    .txtBox3{margin:0 1%;}
  }

  /* end mobile styles  ----------------------------------------- */

  .btnHover{
    border: 2px solid skyblue !important;
    box-shadow: #05f68e 0px 0px 6px 1px !important;
   }

   .btnLeft{  box-shadow: -1px 1px 1px black; }
   .btnRight{  box-shadow: 2px 1px 1px black; }

/*  custom scroll bar */
/* .scrollBar2 {height:97%; overflow-x:hidden; background:#010111; border: 1px steelblue solid; border-radius:13px; padding:0.5em; } */
.scrollBarV {height:97%; overflow-x:scroll; background:#010111; border: 1px steelblue solid; border-radius:13px;  }
.scrollBarV::-webkit-scrollbar-track { background-color: #010213;  border-radius: 13px; }
.scrollBarV::-webkit-scrollbar { width: 0.666em; height: 100%; }
.scrollBarV::-webkit-scrollbar-thumb { background-color: #04223c; border-radius: 13px;
  background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.6) 26%, transparent 26%, transparent 51%, rgba(255, 255, 255, -0.4) 51%, rgba(255, 255, 255, 0.6) 74%, transparent 74%, transparent);
}

.scrollBarH {height:97%; overflow-y:scroll; background:#010111; border: 1px steelblue solid; border-radius:13px; }
.scrollBarH::-webkit-scrollbar-track { background-color: #010213;  border-radius: 13px; }
.scrollBarH::-webkit-scrollbar { width: 100%; height: 1.3em; }
.scrollBarH::-webkit-scrollbar-thumb { background-color: #04223c; border-radius: 13px;
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.6) 26%, transparent 26%, transparent 51%, rgba(255, 255, 255, -0.4) 51%, rgba(255, 255, 255, 0.6) 74%, transparent 74%, transparent);
}

.scrollBarDoc{height:97%; overflow-x:hidden; border-radius:13px;  }
.scrollBarDoc::-webkit-scrollbar-track { background-color: rgb(84, 194, 238, 0);  border-radius: 13px; }
.scrollBarDoc::-webkit-scrollbar { width: 0.666em; height: 100%; }
.scrollBarDoc::-webkit-scrollbar-thumb { background-color: #04223c; border-radius: 13px;
  background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.6) 26%, transparent 26%, transparent 51%, rgba(255, 255, 255, -0.4) 51%, rgba(255, 255, 255, 0.6) 74%, transparent 74%, transparent);
}

.scrollBarSmall { border-radius:13px; }
.scrollBarSmall::-webkit-scrollbar-track { border-radius: 13px; }
.scrollBarSmall::-webkit-scrollbar { width: 100%; height: 1.3em; }
.scrollBarSmall::-webkit-scrollbar-thumb { background-color: #04223c; border-radius: 13px;
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.6) 26%, transparent 26%, transparent 51%, rgba(255, 255, 255, -0.4) 51%, rgba(255, 255, 255, 0.6) 74%, transparent 74%, transparent);
}

hr{
  width: 95%;
  height: 3px;
  box-shadow: rgb(61 182 232) 1px 3px 2px 0px;
  border: 1px solid steelblue;
  border-radius: 100%;
  margin: 1.888em auto;
}

::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 20px !important;
  text-align: end !important;
  text-align-last: end !important;
  color:black;
}

.lockStatus {
  font-size:1.000em;
}


.unlockStatus {
  font-size:0.888em;
}

body {
  /* overflow-y:scroll; */
  overflow-y:hidden;
}

